body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

.product-parent {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.product-container,
.cart-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
}

.product-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.add-button {
  background: skyblue;
}

.remove,
#clear-cart {
  background: crimson;
  color: white;
}